{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <form method="POST">
        <fieldset>

          <div class="form-group">
            <label for="exampleInputFile">Seleccione un archivo de notas.</label>
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
          </div>
          <!-- ********************************************************************************************** -->
          <div class="form-group">
            <fieldset class="form-group">
                <legend>Selecciones un criterio de finalizacion.</legend>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadiosFin" id="optionsRadios1" value="option1" checked="">
                    fitness
                  </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadiosFin" id="optionsRadios2" value="option2">
                    fitness promedio
                  </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadiosFin" id="optionsRadios3" value="option3">
                    Generacion
                  </label>
                </div>
              </fieldset>                
          </div>
          <!-- ********************************************************************************************** -->
          <div class="form-group">
            <fieldset class="form-group">
                <legend>Selecciones un modo de seleccion de los padres.</legend>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadiosPadres" id="optionsRadios11" value="option11" checked="">
                    mejor fitness (ordenado)
                  </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadiosPadres" id="optionsRadios22" value="option22">
                    random
                  </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadiosPadres" id="optionsRadios33" value="option33">
                    Top (sin ordenar)
                  </label>
                </div>
              </fieldset>                
          </div>
          <!-- ********************************************************************************************** -->
          <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
      </form>
      {{user.Fin}}
      {{user.Padre}}
</div>
{% endblock %}